script#macros-template(type="text/x-template")
  #macros
    message(:show.sync="confirmReset")
      h3(slot="header") Reset All Macros?
      div(slot="body")
        p Are you sure you want to reset all macros?

      div(slot="footer")
        button.pure-button(@click="confirmReset=false") Cancel
        button.pure-button.pure-button-primary(@click="resetConfig")
          | Reset

    message(:show.sync="confirmSave")
        h3(slot="header") Confirm Save?
        div(slot="body")
            p Are you sure you want to save the current settings?
            
        div(slot="footer")
          button.pure-button(@click="confirmSave=false") Cancel
          button.pure-button.pure-button-primary(@click="saveMacros") Confirm

    h1 Macros Configuration
    button.pure-button(title="Reset Macros", @click="confirmReset=true",
        style="height:50px;width:170px;font-weight:normal;color:#fff;background-color:#5a9ad7;display:flex;align-items:center;justify-content:space-around") Reset Macros
        .fa.fa-rotate-right
    .warning-box
        p
                u  Note:
                |  Reset the macros to default macros recommended by Onefinity CNC.
    .tabs
        input#tab1(type="radio", name="tabs",checked="" @click="tab = '1'")
        label(for="tab1",style="height:50px;width:100px") Macros 1

        input#tab2(type="radio", name="tabs", @click="tab = '2'")
        label(for="tab2",style="height:50px;width:100px") Macros 2

        input#tab3(type="radio", name="tabs", @click="tab = '3'")
        label(for="tab3",style="height:50px;width:100px") Macros 3

        input#tab4(type="radio", name="tabs", @click="tab = '4'")
        label(for="tab4",style="height:50px;width:100px") Macros 4

        input#tab5(type="radio", name="tabs", @click="tab = '5'")
        label(for="tab5",style="height:50px;width:100px") Macros 5

        input#tab6(type="radio", name="tabs", @click="tab = '6'")
        label(for="tab6",style="height:50px;width:100px") Macros 6

        input#tab7(type="radio", name="tabs", @click="tab = '7'")
        label(for="tab7",style="height:50px;width:100px") Macros 7

        input#tab8(type="radio", name="tabs", @click="tab = '8'")
        label(for="tab8",style="height:50px;width:100px") Macros 8

        section#content1.tab-content
                .macros-form
                        p.title Name
                        .input-container
                                input.input-color(type="color",id="macros-color-0",value="#ffffff") 
                                input.input-name(type="text",minlength='1',maxlength='15',id="macros-name-0")
                        p.title G-Code
                        .select-upload-gcode                      
                                select#gcodeSelect-0(title="Select previously uploaded GCode programs.",selected
                                        v-model="selectedValues[tab - 1]",@change="load", :disabled="!is_ready",
                                        style="max-width:100%;height:40px;border-radius:5px")
                                        option( selected='' value='default')  Create G-Code
                                        option(v-for="file in macrosList", :value="file") {{file}}

                                button.pure-button(title="Upload a new GCode program.", @click="open",
                                        :disabled="!is_ready",style="height:40px;width:130px;font-weight:normal;border-radius:5px;margin-left:4px;background-color:#5a9ad7;color:#fff;display:flex;align-items:center;justify-content:space-around") Upload
                                        .fa.fa-upload

                                form.gcode-file-input.file-upload
                                        input(type="file", @change="upload", :disabled="!is_ready",
                                        accept=".nc,.ngc,.gcode,.gc")
                        br
                        .gcodeContainer
                                textarea.new-gcode( :value='newGcode[tab-1]' @input="updateNewGcode")
                                //- gcode-viewer(v-if="state.selected !== 'default'")
                        p.gcode-para{{newGcode[tab-1]}} 
                        button.submit-macros(title="Save Macros",@click="confirmSave=true",
                                style="height:50px;width:140px;font-weight:normal;background-color:#add1ad;color:#fff;border:0;margin-top:30px") Save 
                        button.submit-macros(title="Cancel Macros",@click="cancelMacros",
                                style="height:50px;width:140px;font-weight:normal;margin-left:5px;background-color:#f6f6f6;color:#000;border:0;margin-top:30px") Cancel

        section#content2.tab-content
                .macros-form
                        p.title Name
                        .input-container
                                input.input-color(type="color",id="macros-color-1",value="#ffffff") 
                                input.input-name(type="text",minlength='1',maxlength='15',id="macros-name-1")
                        p.title G-Code
                        .select-upload-gcode
                                select#gcodeSelect-1(title="Select previously uploaded GCode programs.",
                                        v-model="selectedValues[tab - 1]", @change="load", :disabled="!is_ready",
                                        style="max-width:100%;height:40px;border-radius:5px")
                                        option(selected='' value='default')  Create G-Code
                                        option(v-for="file in macrosList", :value="file") {{file}}

                                button.pure-button(title="Upload a new GCode program.", @click="open",
                                        :disabled="!is_ready",style="height:40px;width:130px;font-weight:normal;border-radius:5px;margin-left:4px;background-color:#5a9ad7;color:#fff;display:flex;align-items:center;justify-content:space-around") Upload
                                        .fa.fa-upload

                                form.gcode-file-input.file-upload
                                        input(type="file", @change="upload", :disabled="!is_ready",
                                        accept=".nc,.ngc,.gcode,.gc")
                        br
                        .gcodeContainer
                                textarea.new-gcode( :value='newGcode[tab-1]' @input="updateNewGcode")
                                //- gcode-viewer(v-if="state.selected !== 'default'")
                        button.submit-macros(title="Save Macros",@click="confirmSave=true",
                                style="height:50px;width:140px;font-weight:normal;background-color:#add1ad;color:#fff;border:0;margin-top:30px") Save 
                        button.submit-macros(title="Cancel Macros",@click="cancelMacros",
                                style="height:50px;width:140px;font-weight:normal;margin-left:5px;background-color:#f6f6f6;color:#000;border:0;margin-top:30px") Cancel

        section#content3.tab-content
                .macros-form
                        p.title Name
                        .input-container
                                input.input-color(type="color",id="macros-color-2",value="#ffffff") 
                                input.input-name(type="text",minlength='1',maxlength='15',id="macros-name-2")
                        p.title G-Code
                        .select-upload-gcode
                                select#gcodeSelect-2(title="Select previously uploaded GCode programs.",
                                        v-model="selectedValues[tab - 1]", @change="load", :disabled="!is_ready",
                                        style="max-width:100%;height:40px;border-radius:5px")
                                        option(selected='' value='default')  Create G-Code
                                        option(v-for="file in macrosList", :value="file") {{file}}

                                button.pure-button(title="Upload a new GCode program.", @click="open",
                                        :disabled="!is_ready",style="height:40px;width:130px;font-weight:normal;border-radius:5px;margin-left:4px;background-color:#5a9ad7;color:#fff;display:flex;align-items:center;justify-content:space-around") Upload
                                        .fa.fa-upload

                                form.gcode-file-input.file-upload
                                        input(type="file", @change="upload", :disabled="!is_ready",
                                        accept=".nc,.ngc,.gcode,.gc")
                        br
                        .gcodeContainer
                                textarea.new-gcode( :value='newGcode[tab-1]' @input="updateNewGcode")
                                //- gcode-viewer(v-if="state.selected !== 'default'")
                        button.submit-macros(title="Save Macros",@click="confirmSave=true",
                                style="height:50px;width:140px;font-weight:normal;background-color:#add1ad;color:#fff;border:0;margin-top:30px") Save 
                        button.submit-macros(title="Cancel Macros",@click="cancelMacros",
                                style="height:50px;width:140px;font-weight:normal;margin-left:5px;background-color:#f6f6f6;color:#000;border:0;margin-top:30px") Cancel

        section#content4.tab-content
                .macros-form
                        p.title Name
                        .input-container
                                input.input-color(type="color",id="macros-color-3",value="#ffffff") 
                                input.input-name(type="text",minlength='1',maxlength='15',id="macros-name-3")
                        p.title G-Code
                        .select-upload-gcode
                                select#gcodeSelect-3(title="Select previously uploaded GCode programs.",
                                        v-model="selectedValues[tab - 1]", @change="load", :disabled="!is_ready",
                                        style="max-width:100%;height:40px;border-radius:5px")
                                        option(selected='' value='default')  Create G-Code
                                        option(v-for="file in macrosList", :value="file") {{file}}

                                button.pure-button(title="Upload a new GCode program.", @click="open",
                                        :disabled="!is_ready",style="height:40px;width:130px;font-weight:normal;border-radius:5px;margin-left:4px;background-color:#5a9ad7;color:#fff;display:flex;align-items:center;justify-content:space-around") Upload
                                        .fa.fa-upload

                                form.gcode-file-input.file-upload
                                        input(type="file", @change="upload", :disabled="!is_ready",
                                        accept=".nc,.ngc,.gcode,.gc")
                        br
                        .gcodeContainer
                                textarea.new-gcode( :value='newGcode[tab-1]' @input="updateNewGcode")
                                //- gcode-viewer(v-if="state.selected !== 'default'")
                        button.submit-macros(title="Save Macros",@click="confirmSave=true",
                                style="height:50px;width:140px;font-weight:normal;background-color:#add1ad;color:#fff;border:0;margin-top:30px") Save 
                        button.submit-macros(title="Cancel Macros",@click="cancelMacros",
                                style="height:50px;width:140px;font-weight:normal;margin-left:5px;background-color:#f6f6f6;color:#000;border:0;margin-top:30px") Cancel

        section#content5.tab-content
                .macros-form
                        p.title Name
                        .input-container
                                input.input-color(type="color",id="macros-color-4",value="#ffffff") 
                                input.input-name(type="text",minlength='1',maxlength='15',id="macros-name-4")
                        p.title G-Code
                        .select-upload-gcode
                                select#gcodeSelect-4(title="Select previously uploaded GCode programs.",
                                        v-model="selectedValues[tab - 1]", @change="load", :disabled="!is_ready",
                                        style="max-width:100%;height:40px;border-radius:5px")
                                        option(selected='' value='default')  Create G-Code
                                        option(v-for="file in macrosList", :value="file") {{file}}

                                button.pure-button(title="Upload a new GCode program.", @click="open",
                                        :disabled="!is_ready",style="height:40px;width:130px;font-weight:normal;border-radius:5px;margin-left:4px;background-color:#5a9ad7;color:#fff;display:flex;align-items:center;justify-content:space-around") Upload
                                        .fa.fa-upload

                                form.gcode-file-input.file-upload
                                        input(type="file", @change="upload", :disabled="!is_ready",
                                        accept=".nc,.ngc,.gcode,.gc")
                        br
                        .gcodeContainer
                                textarea.new-gcode( :value='newGcode[tab-1]' @input="updateNewGcode")
                                //- gcode-viewer(v-if="state.selected !== 'default'")
                        button.submit-macros(title="Save Macros",@click="confirmSave=true",
                                style="height:50px;width:140px;font-weight:normal;background-color:#add1ad;color:#fff;border:0;margin-top:30px") Save 
                        button.submit-macros(title="Cancel Macros",@click="cancelMacros",
                                style="height:50px;width:140px;font-weight:normal;margin-left:5px;background-color:#f6f6f6;color:#000;border:0;margin-top:30px") Cancel

        section#content6.tab-content
                .macros-form
                        p.title Name
                        .input-container
                                input.input-color(type="color",id="macros-color-5",value="#ffffff") 
                                input.input-name(type="text",minlength='1',maxlength='15',id="macros-name-5")
                        p.title G-Code
                        .select-upload-gcode
                                select#gcodeSelect-5(title="Select previously uploaded GCode programs.",
                                        v-model="selectedValues[tab - 1]", @change="load", :disabled="!is_ready",
                                        style="max-width:100%;height:40px;border-radius:5px")
                                        option(selected='' value='default')  Create G-Code
                                        option(v-for="file in macrosList", :value="file") {{file}}

                                button.pure-button(title="Upload a new GCode program.", @click="open",
                                        :disabled="!is_ready",style="height:40px;width:130px;font-weight:normal;border-radius:5px;margin-left:4px;background-color:#5a9ad7;color:#fff;display:flex;align-items:center;justify-content:space-around") Upload
                                        .fa.fa-upload

                                form.gcode-file-input.file-upload
                                        input(type="file", @change="upload", :disabled="!is_ready",
                                        accept=".nc,.ngc,.gcode,.gc")
                        br
                        .gcodeContainer
                                textarea.new-gcode( :value='newGcode[tab-1]' @input="updateNewGcode")
                                //- gcode-viewer(v-if="state.selected !== 'default'")
                        button.submit-macros(title="Save Macros",@click="confirmSave=true",
                                style="height:50px;width:140px;font-weight:normal;background-color:#add1ad;color:#fff;border:0;margin-top:30px") Save 
                        button.submit-macros(title="Cancel Macros",@click="cancelMacros",
                                style="height:50px;width:140px;font-weight:normal;margin-left:5px;background-color:#f6f6f6;color:#000;border:0;margin-top:30px") Cancel
        
        section#content7.tab-content
                .macros-form
                        p.title Name
                        .input-container
                                input.input-color(type="color",id="macros-color-6",value="#ffffff") 
                                input.input-name(type="text",minlength='1',maxlength='15',id="macros-name-6")
                        p.title G-Code
                        .select-upload-gcode                      
                                select#gcodeSelect-6(title="Select previously uploaded GCode programs.",selected
                                        v-model="selectedValues[tab - 1]",@change="load", :disabled="!is_ready",
                                        style="max-width:100%;height:40px;border-radius:5px")
                                        option(selected='' value='default')  Create G-Code
                                        option(v-for="file in macrosList", :value="file") {{file}}

                                button.pure-button(title="Upload a new GCode program.", @click="open",
                                        :disabled="!is_ready",style="height:40px;width:130px;font-weight:normal;border-radius:5px;margin-left:4px;background-color:#5a9ad7;color:#fff;display:flex;align-items:center;justify-content:space-around") Upload
                                        .fa.fa-upload

                                form.gcode-file-input.file-upload
                                        input(type="file", @change="upload", :disabled="!is_ready",
                                        accept=".nc,.ngc,.gcode,.gc")
                        br
                        .gcodeContainer
                                textarea.new-gcode( :value='newGcode[tab-1]' @input="updateNewGcode")
                                //- gcode-viewer(v-if="state.selected !== 'default'")
                        button.submit-macros(title="Save Macros",@click="confirmSave=true",
                                style="height:50px;width:140px;font-weight:normal;background-color:#add1ad;color:#fff;border:0;margin-top:30px") Save 
                        button.submit-macros(title="Cancel Macros",@click="cancelMacros",
                                style="height:50px;width:140px;font-weight:normal;margin-left:5px;background-color:#f6f6f6;color:#000;border:0;margin-top:30px") Cancel
        
        section#content8.tab-content
                .macros-form
                        p.title Name
                        .input-container
                                input.input-color(type="color",id="macros-color-7",value="#ffffff") 
                                input.input-name(type="text",minlength='1',maxlength='15',id="macros-name-7")
                        p.title G-Code
                        .select-upload-gcode                      
                                select#gcodeSelect-7(title="Select previously uploaded GCode programs.",selected
                                        v-model="selectedValues[tab - 1]",@change="load", :disabled="!is_ready",
                                        style="max-width:100%;height:40px;border-radius:5px")
                                        option(selected='' value='default')  Create G-Code
                                        option(v-for="file in macrosList", :value="file") {{file}}

                                button.pure-button(title="Upload a new GCode program.", @click="open",
                                        :disabled="!is_ready",style="height:40px;width:130px;font-weight:normal;border-radius:5px;margin-left:4px;background-color:#5a9ad7;color:#fff;display:flex;align-items:center;justify-content:space-around") Upload
                                        .fa.fa-upload

                                form.gcode-file-input.file-upload
                                        input(type="file", @change="upload", :disabled="!is_ready",
                                        accept=".nc,.ngc,.gcode,.gc")
                        br
                        .gcodeContainer
                                textarea.new-gcode( :value='newGcode[tab-1]' @input="updateNewGcode")
                                //- gcode-viewer(v-if="state.selected !== 'default'")
                        button.submit-macros(title="Save Macros",@click="confirmSave=true",
                                style="height:50px;width:140px;font-weight:normal;background-color:#add1ad;color:#fff;border:0;margin-top:30px") Save 
                        button.submit-macros(title="Cancel Macros",@click="cancelMacros",
                                style="height:50px;width:140px;font-weight:normal;margin-left:5px;background-color:#f6f6f6;color:#000;border:0;margin-top:30px") Cancel

        button.submit-macros(title="Cancel Macros",@click="printState",
                                style="height:50px;width:140px;font-weight:normal;margin-left:5px;background-color:#f6f6f6;color:#000;border:0;margin-top:30px") Print State
        button.submit-macros(title="Cancel Macros",@click="printConfig",
                                style="height:50px;width:140px;font-weight:normal;margin-left:5px;background-color:#f6f6f6;color:#000;border:0;margin-top:30px") Print Config
