script#path-viewer-template(type="text/x-template")
  .path-viewer(v-show="enabled", :class="{small: small}")
    .path-viewer-toolbar
      .tool-button(title="Toggle path view size.",
        @click="small = !small", :class="{active: !small}")
        .fa.fa-arrows-alt

      .tool-button(@click="showTool = !showTool", :class="{active: showTool}",
        title="Show/hide tool.")
        img(src="images/tool.png")

      .tool-button(@click="showBBox = !showBBox", :class="{active: showBBox}",
        title="Show/hide bounding box.")
        img(src="images/bbox.png")

      .tool-button(@click="showAxes = !showAxes", :class="{active: showAxes}",
        title="Show/hide axes.")
        img(src="images/axes.png")

      .tool-button(@click="showIntensity = !showIntensity",
        :class="{active: showIntensity}", title="Show/hide LASER intensity.")
        img(src="images/intensity.png")

      each view in "isometric top front".split(" ")
        .tool-button(@click=`snap('${view}')`, title=`Snap to ${view} view.`)
          img(src=`images/${view}.png`)

    .path-viewer-content

    table.path-viewer-messages(
      v-if="typeof toolpath.messages != 'undefined' && " +
        "toolpath.messages.length")
      tr
        th Level
        th Location
        th Message

      tr(v-for="msg in toolpath.messages", :class="'log-' + msg.level")
        td.level {{msg.level}}
        td.location
          | {{msg.line}}
          span(v-if="msg.column") :{{msg.column}}
        td.message {{msg.msg}}
